/* .jail {
background-image: url('img/smashedwindow.jpg');
background-repeat: no-repeat;
background-size: contain;

}
.apocalypse{
background-image: url('img/gameOver.jpg');
} */
#scoreBoard{
  background-image: url('img/brain.png');
font-family: 'Finger Paint', cursive;
text-shadow: 2px  #1E4207;
font-variant: small-caps slashed-zero;
font-size: 30px;
background-size: contain;
color:#3e8e41;
}
#towerSelection{
float: right;
  width: 300px;
  height: 200px;
  padding: 50px;
  border: 1px solid red;
}



.ZombieFont{
font-family: 'Finger Paint', cursive;
color: red;
 text-shadow: 2px 2px 5px #1E4207;
}

#dialog{
  font-family:'Special Elite', cursive;
  font-size: 20px;
  /* font-weight: bold; */
  color: white;
  font-variant: small-caps slashed-zero;
line-height: 150%;
height: 300px;
 width: 700px;
 border-radius: 15px;
 background-color: #1E4207;
 border:10px solid grey;
 border-style: inset;

}
