body{
  background-color: #03050C;
}
/* .apocalypse{
background-image: url('img/gameOver.jpg');
}  */


#start{
  background-color: black;
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
  font-size: 100px;
  /* font-family: 'digital-7', sans-serif; */
  color: red;
  text-shadow: 1px 1px #A35855;
  padding: 50px;
  border-radius: 15px;
  filter: grayscale(50%);
  box-shadow: 5px 5px 5px 10px grey;
}
.towers{
  padding: 10px;
  font-size: 15px;
}

#mapDiv {
  border-radius: 15px;
  background-color: #02071D;
  border:10px solid grey;
  border-style: inset;
  width: 1024px;
  height: 768px;
  background-image: url('img/gameAssets/map1.png');
}

#zombieFont{
  font-family: 'Finger Paint', cursive;
  color: #3e8e41;
  text-shadow: 2px 2px 5px ;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #02071D;
  border:10px solid grey;
  border-style: inset;
}

#dialog{
  padding: 20px;
letter-spacing:4px;
word-spacing: 2px;
font-family:'Special Elite', cursive;
font-size: 20px;
color: white;
line-height: 120%;
width: 350px;
height: 700px;
border-radius: 15px;
background-color: #02071D;
border:10px solid grey;
border-style: inset;
float: right;
}
#scoreBoard{
  color: #49F30A;
  font-size: 10px;
  text-shadow: 2px 2px yellow;
  float: left;
}
title{

  background-image: url('img/brain.png');
  background-size: contain;
}

td {
  width: 64px;
  height: 64px;
  /* border: solid black; */
}
