.jail {
background-image: url('img/jail.jpeg');
background-repeat: no-repeat;
background-size: cover;

}

.ZombieFont{
/* font-family: 'Gloria Hallelujah', cursive; */
font-family: 'Finger Paint', cursive;
color: red;
}

#towerDump {
  background: url ('./img/gameAssets/tower1_tier1.png');
}

#gameTable{
color:white;
}

canvas{
  width: 200px;
  border: 30px solid;
  border-image: linear-gradient(#E22B1A, #E28F1A, #D1E21A 30px) 30;
  padding: 20px;

}
